head {
    text-align: center;
}
body {
    font-family: Inter; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #7c7c7c; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
}
h1 {
    animation: color-change 3s infinite;
    color: #FD98FB; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
}

@keyframes color-change {
  0%   { color: blue; }
  25%  { color: rgb(4, 236, 4); }
  50%  { color: red; }
  100% { color: rgb(255, 230, 0); }
}